html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom right, rgba(30, 30, 30, 1), black);
    background-attachment: fixed; /* чтобы тянулось на весь экран */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0; /* убери отступы, лучше их задать отдельным контейнерам */
}


.main-text{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 69px;
    font-weight: 300;
}

.app-name{
    display: flex;
    align-items: center;   /* выравнивает по вертикали */
    justify-content: center; /* центрирует по горизонтали */
}

.logo{
    width: auto;
    height: 70px;
    margin-top: -60px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #e0e0e0;
  border-radius: 20px;
  padding: 8px 12px;
  width: 300px;
  margin: 0 auto;
}

.search-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 16px;
  color: #333;
}

.Temperature{
    color: rgba(242, 241, 241, 1);
    font-size: 70px;
}

.Window{
    color: rgba(242, 241, 241, 1);
    font-size: 20px;
}

.Info{
    color: rgba(242, 241, 241, 1);
    font-size: 20px;
}

.City{
    color: rgba(242, 241, 241, 1);
    font-size: 30px;
}

.result{
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px 12px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgba(173, 54, 203, 1);
    background: linear-gradient(to bottom right, rgba(173, 54, 203, 1), black);
}